<h1>It's note time!</h1>

<form action="/tracks/<%= params[:track_id] %>/notes/<%= @note.id %>" method="post">
  <input type="hidden" name="_method" value=<%= 'PUT' if @note.persisted? %>>

  <input
    name="authenticity_token"
    type="hidden"
    value="<%= form_authenticity_token %>">

    <input name="note[user_id]" type="hidden" value="<%=current_user.id%>">

    <input name="note[track_id]" type="hidden" value="<%=params[:track_id]%>">

    <table>
<!-- note -->

      <tr align="left"><th><label for="note_text">Note</label>

      <td><textarea rows="4" cols="50" input name="note[text]" id="note_text" value="<%= @note.text %>"></textarea>

</table>

  <input type="submit" value="<%= @note.persisted? ? 'Edit this note!' : 'Add this note!' %>" >

</form>

<br>

<a href="/albums">Back to the albums page!</a>
<br><br>
<a href="/bands">Back to the bands page!</a>