<h1>Track Form man!</h1>
<form action="/tracks/<%= @track.id %>" method="post">
  <input type="hidden" name="_method" value=<%= 'PUT' if @track.persisted? %>>

  <input
    name="authenticity_token"
    type="hidden"
    value="<%= form_authenticity_token %>">

    <table>
<!-- album drop down menu -->
    <tr align="left"><th><label for="track_title">Name</label>

    <td><input name ="track[title]" id="track_title" type="text" value="<%= @track.title %>">

      <br>

      <tr align="left"><th><label for="track_album_id">Album</label>
      <td><select name="track[album_id]">
        <% Album.all.each do |album| %>

          <option value="<%= album.id %>">
            <%= album.title %>
          </option>

        <% end %>
      </select>

<!-- track type -->
      <tr align="left"><th><label>Type:</label>
      <td><input name="track[track_type]" id="track_type_regular" type="radio" value="Regular" <%= "checked" if @track.track_type == "Regular" %>>
      <label for="track_type_regular">Regular</label>
      <input name="track[track_type]" id="track_type_bonus" type="radio" value="Bonus" <%= "checked" if @track.track_type == "Bonus" %>>
      <label for="track_type_bonus">Bonus</label>


<!-- track lyrics -->

      <tr align="left"><th><label for="track_title">Lyrics</label>

      <td><textarea rows="4" cols="50" input name ="track[lyrics]" id="track_lyrics" value="<%= @track.lyrics %>">
      </textarea>



</table>

  <input type="submit" value="<%= @track.persisted? ? 'Edit this track!' : 'Add this track!' %>" >

</form>

<br>

<a href="/albums">Back to the albums page!</a>
<br><br>
<a href="/bands">Back to the bands page!</a>