<h1><%= @track.album.band.name %></h1>
<h2><%= @track.album.title %></h2>
<h3><%= @track.title %></h3>

<b>Track Type:</b> <%= @track.track_type %>

<br><br>

<b>Lyrics:</b> <%= @track.lyrics %>

<br><br>

<b>Notes:</b><br>
<% Note.all.each do |note| %>
  <% if note.track_id == @track.id %>

    <%= note.text %>
    <% if note.user_id == current_user.id %>
    <%= button_to "Delete Note", note, :method => :delete %>
    <% end %>
    <br>

  <% end %>
<% end %>


<a href="/tracks/<%=@track.id%>/notes/new">Add a note!</a>

<br><br>

<%= button_to "Delete Track", @track, :method => :delete %>

<br>

<a href="/albums/<%=@track.album.id%>">Back to album</a>