<% current_user = User.find(params[:id]) %>
<% if current_user.activation_token = params[:activation_token] %>
<% current_user.activate! %>
<%= "Account activated!" %>
<% else %>
<%= "Check your email again" %>
<% end %>