<h1>Album Form dude!</h1>
<form action="/albums/<%= @album.id %>" method="post">
  <input type="hidden" name="_method" value=<%= 'PUT' if @album.persisted? %>>

  <input
    name="authenticity_token"
    type="hidden"
    value="<%= form_authenticity_token %>">

  <table>

<!-- band drop down menu -->
    <tr align="left"><th><label for="album_title">Name</label>

    <td><input name ="album[title]" id="album_title" type="text" value="<%= @album.title %>">

      <tr align="left"><th><label for="album_band">Band</label>
      <td><select name="album[band_id]">
        <% Band.all.each do |band| %>

          <option value="<%= band.id %>" <%= "selected" if (band.id == params[:id]) %> >
            <%= band.name %>
          </option>

        <% end %>
<!-- album type -->
      <tr align="left"><th><label>Type:</label>
      <td><input name="album[album_type]" id="album_type_studio" type="radio" value="Studio" <%= "checked" if @album.album_type == "Studio" %>>
      <label for="album_type_studio">Studio</label>
      <input name="album[album_type]" id="album_type_live" type="radio" value="Live" <%= "checked" if @album.album_type == "Live" %>>
      <label for="album_type_live">Live</label>

  </table>

  <input type="submit" value="<%= @album.persisted? ? 'Edit this album!' : 'Add this album!' %>" >

</form>

<br>

<a href="/bands">Back to the bands page!</a>