<h1>All Albums</h1>
<ul>
  <% @albums.each do |album| %>
    <li><a href="/albums/<%=album.id%>"><%= album.title %> (<%= album.band.name %>)</a></li>
    <br>
  <% end %>
</ul>

<a href="/bands/<%= Band.find(@albums.first.band_id).id %>/albums/new">Add an album!</a>

<br><br>

<a href="/bands/">Back to main page</a>