<h1><%= @album.band.name %></h1>
<h2><%= @album.title %></h2>


<h3>Track List</h3>

<ul>
  <% @album.tracks.each do |track| %>
    <li><a href="/tracks/<%= track.id %>"><%= track.title %></a></li>
    <br>
  <% end %>

</ul>

<a href="/tracks/new">Add a track!</a>

<br><br>

<%= button_to "Delete Album", @album, :method => :delete %>

<br><br>

<a href="/bands/<%=@album.band.id%>">Back to band</a>