<h1>Band Form yo!</h1>
<form action="/bands/<%= @band.id %>" method="post">
  <input type="hidden" name="_method" value=<%= 'PUT' if @band.persisted? %>>

  <input
    name="authenticity_token"
    type="hidden"
    value="<%= form_authenticity_token %>">

  <table>

    <tr align="left"><th><label for="band_name">Band Name</label>
    <td><input name ="band[name]" id="band_name" type="text" value="<%= @band.name %>">

  </table>

  <input type="submit" value="<%= @band.persisted? ? 'Edit this band!' : 'Add this band!' %>" >

</form>

<br>

<a href="/bands/">Back to the main page!</a>