<h1><%= @band.name %></h1>

<h3>Albums</h3>
<ul>
  <% @band.albums.each do |album| %>
    <li><a href="/albums/<%= album.id %>"><%= album.title %></a></li>
    <br>
  <% end %>
</ul>

<a href="/albums/new">Add an album!</a>

<br><br>

<%= button_to "Delete Band", @band, :method => :delete %>

<br><br>

<a href="/bands/">Back to main page</a>