<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>

      Logged in as: <%= current_user.email %>
      <%= button_to "Logout", session_url(current_user), :method => :delete %>


  <% else %>
    <%= button_to "Login", new_session_url, :method => :get %>
    <%= button_to "Sign Up", new_user_url, :method => :get %>
  <% end %>

<%= yield %>

</body>
</html>
